footer#contact.footer
  nav.footer-nav
    ul.footer-list
      li.footer-list__item: a(href="#home").footer-list__link Home
      li.footer-list__item: a(href="#services").footer-list__link Services
      li.footer-list__item: a(href="#works").footer-list__link Our Works
      li.footer-list__item: a(href="#clients").footer-list__link Clients
      li.footer-list__item: a(href="#contact").footer-list__link Contact
  .social
    h2.social__title Edie
    .social__container
      img(src="./assets/images/instagram.svg" alt="instagram").social__icon
      img(src="./assets/images/linkedin.svg" alt="linkedin").social__icon
      img(src="./assets/images/twitter.svg" alt="twiter").social__icon
  form.form.form--footer
    input(type="email" name="email" placeholder="Email" required).form__input
    button.form__button Join
  p.footer__author: a(href="https://portfolio.devchallenges.io/cqrlosArch").footer__link Carlos Díaz @ DevChallenges.io