header.header
  h1.header__title Edie
  .topbar
    span.material-icons.icon.icon--open#icon-open menu
    nav#main-navigation.main-navigation
      span.material-icons.icon.icon--close#icon-close close
      ul.main-list
        li.main-list__item: a(href="#home").main-list__link Home
        li.main-list__item: a(href="#services").main-list__link Services
        li.main-list__item: a(href="#works").main-list__link Our Works
        li.main-list__item: a(href="#clients").main-list__link Clients
        li.main-list__item: a(href="#contact").main-list__link Contact