home#home.home
  p.home__text.home__text--blue Unhappy with your website?
  h2.home__title  We create beautiful and fast web services
  img(src="./assets/images/heroImage.jpg" alt="heroImage").home__img
  article.article
    h2.article__title Story, emotion and purpose
    p.article__text We help transform your ideas into real world applications that will outperform your toughest competition and help you achieve your strategic goals in short period of time.
  form.form.before--gray
    input(type="email" name="email" placeholder="Email" required).form__input
    button.form__button Join

