section#services.services
  h2.services__title We offer high demand services
  .cards
    article.card
      span.material-icons.card__icon.card__icon--ui  create
      h3.card__title UI/UX Design
      h3.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac nulla consequat aliquet id quis turpis.
      button.card__button Get started
    article.card
      span.material-icons.card__icon.card__icon--front unfold_more
      h3.card__title Front End
      h3.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac nulla consequat aliquet id quis turpis.
      button.card__button Get started
    article.card
      span.material-icons.card__icon.card__icon--back storage
      h3.card__title Back End
      h3.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac nulla consequat aliquet id quis turpis.
      button.card__button Get started
