section#works.works
  h2.works__title Good design means good business
  .gallery
    figure.figure
      img(src="./assets/images/smarthome.jpg" alt="smarthome").figure__img
      p.figure__text Full stack application
      figcaption.figure__figcaption Smart home dashboard
    figure.figure
      img(src="./assets/images/onboard.png" alt="onboard").figure__img
      p.figure__text UX/UI design
      figcaption.figure__figcaption Onboard application
    figure.figure
      img(src="./assets/images/booking.png" alt="booking").figure__img
      p.figure__text Mobile application
      figcaption.figure__figcaption Booking system
    figure.figure
      img(src="./assets/images/juice-product.png" alt="juice-product").figure__img
      p.figure__text Front End application
      figcaption.figure__figcaption Juice product homepage
  p.works__text: a(href="#works").works__link see more 
    span.material-icons.works__icon arrow_right_alt
