//Colors
$textColor: #333333;
$blue: #2d9cdb;
$gray: #4f4f4f;
$green: #27ae60;
$red: #eb5757;
$bg-button: #828282;
$white: #f2f2f2;
$footer: #100e1d;

//breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
